doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Title
    script(src='https://js.pusher.com/3.2/pusher.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.1/howler.min.js')
    script(src='https://unpkg.com/esprima@~3.1/dist/esprima.js')
    link(type='text/css', rel='stylesheet', href='/stylesheets/css/style.css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700', rel='stylesheet')
    // <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='/js/makeMusic.js')
    script.
      $( function() {
        console.log('called')
        $( "#tabs" ).tabs();
      } );
    style(type='text/css', media='screen').
      #editor, #editor2 {
        position: relative;
        width: 100%;
        height: 1000px;
      }
  script.
    var channelName = '#{channel}';
    var playerNumber = '#{playerNumber}';
    console.log(playerNumber);
  body
    section#sidebar
      .sidebar-header
        h1 MMM
        p Multimedia music mashup
      #tabs.sidebar-tabs
        ul
          li#player-tab-1.tab
            a(href='#player-code-1')
              h2#player-0-name Music Bob
          li#player-tab-2.tab
            a(href='#player-code-2')
              h2#player-1-name Melody Jane
        #player-code-1
          #editor
            | beijing.start();
            | beijing.rate(2);
            | beijing.loop(true);
            | abcde.start();
            | abcde.pause(2000);
            | abcde.play(0);
            | abcde.rate(1.5);
            | abcde.fade(1,0,3000);
            | beijing.loop(false);
        #player-code-2
          #editor2
            | drums.start();
            | drums.rate(3);
            | drums.rate(1);
            | drums.loop(false);
      // Tab Content
      .sidebar-code
      .play
        h3#play-button
          | Play
          img(src='/images/play.svg')
    section#right-side
      canvas#canvas(width='400px' height='400px')
    script(src='https://ace.c9.io/build/src/ace.js', type='text/javascript', charset='utf-8')

    script.

      //EDITOR 1

      //if playerNumber == 0 //var 0 or 1
      var isEditorOneEnabled = true;
      if(playerNumber == 0){
        isEditorOneEnabled = false;
      }
      else{
        isEditorOneEnabled = true;
      }

      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/monokai");
      editor.getSession().setMode("ace/mode/javascript");
      editor.setReadOnly(isEditorOneEnabled);
      if (playerNumber == 0) {
        editor.on('input', function () {
          channel.trigger('client-send_code', {
            playerId: playerNumber,
            code: editor.getValue()
          });
        });
      }

      //EDITOR 2

      var isEditorTwoEnabled = true;
      if (playerNumber == 1) {
        isEditorTwoEnabled = false;
      }
      else {
        isEditorTwoEnabled = true;
      }
      var editor2 = ace.edit("editor2");
      editor2.setTheme("ace/theme/monokai");
      editor2.getSession().setMode("ace/mode/javascript");
      editor2.setReadOnly(isEditorTwoEnabled);
      if (playerNumber == 1) {
        editor2.on('input', function () {
          channel.trigger('client-send_code', {
           playerId: playerNumber,
           code: editor2.getValue()
           });
        });
      }

      //Pusher Code
      // Enable pusher logging - don't include this in production
      //Pusher.logToConsole = true;
      var pusher = new Pusher('1784c495a02ce5c67fa9', {
        cluster: 'eu',
        encrypted: true
      });
      var channel = pusher.subscribe(channelName);
      channel.bind('client-send_code', function (data) {
        var playerId = data.playerId;
        //and, not from myself
        if(playerId == 0 && playerNumber != 0){
          editor.setValue(data.code)
        }
        if (playerId == 1 && playerNumber != 1) {
          editor2.setValue(data.code)
        }
      });
      //End Pusher Code

      //get our canvas ctx
      var canvasWidth = 400;
      var canvasHeight = 400;
      var canvas = document.getElementById('canvas');
      var canvasContext = canvas.getContext('2d');
      canvasContext.clearRect(0, 0, canvasWidth, canvasHeight);

      var canvasParams = {
        context: canvasContext,
        width: canvasWidth,
        height: canvasHeight,
      };

      makeMusic.hookupViz(canvasParams);

      //handle play button pressed
      document.getElementById('play-button').onclick = function(e) {
        console.log('play clicked');

        var player1Code = editor.getValue();
        makeMusic.playTheMusic(player1Code, function () {
          console.log('finished playing player1 track');
        });
        var player2Code = editor2.getValue();
        makeMusic.playTheMusic(player2Code, function () {
          console.log('finished playing player2 track');
        });
      };