<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
        <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
        <script>

            //Pusher Code
            // Enable pusher logging - don't include this in production
            Pusher.logToConsole = true;

            var pusher = new Pusher('1784c495a02ce5c67fa9', {
                cluster: 'eu',
                encrypted: true
            });

            var channel = pusher.subscribe('test_channel');
            channel.bind('my_event', function(data) {
                alert(data.message);
            });
            //End Pusher Code

            function onLoad() {
                var username = prompt('what is your username?');
                console.log(username);
                document.getElementById('player-1-name').innerText = username;
            }

            window.onload = onLoad;
        </script>
    </head>
    <body>
        <div class="room-wrapper">
            <section id="left-side">
                <div class="player-name">
                    <h2 id="player-1-name">Player Name </h2>
                </div>
                <div id="player-1-area">
                    This is the player area
                </div>
            </section>

            <section id="right-side">
                <div class="player-name">
                    <h2>Player Name </h2>
                </div>
                <div id="player-2-area">
                    This is the player area
                </div>
            </section>
        </div>
    </body>
</html>